<section class="categories section">
  <div class="container">

    <h2 class="categories__title title">Популярные категории </h2>

    <ul class="categories__btns">

      <li class="categories__box">
        <button class="categories__btn categories__btn--burger" data-filter=".burger" type="button">
          Бургеры
        </button>
      </li>

      <li class="categories__box">
        <button class="categories__btn categories__btn--pizza" data-filter=".pizza" type="button">
          Пицца
        </button>
      </li>

      <li class="categories__box">
        <button class="categories__btn categories__btn--sandwich" data-filter=".sandwich" type="button">
          Сендвичи
        </button>
      </li>

      <li class="categories__box">
        <button class="categories__btn categories__btn--chinese-food" data-filter=".chinese-food" type="button">
          Азиатская кухня
        </button>
      </li>

      <li class="categories__box">
        <button class="categories__btn categories__btn--dish" data-filter=".dish" type="button">
          Cеты
        </button>
      </li>

    </ul>

    <ul class="categories__list">

      <li class="categories__item mix sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/1.jpg" alt="Сэндвич с тунцом" width="140" height="105"
              loading="lazy">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Сэндвич с тунцом</h3>
            </a>
            <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/2.jpg" alt="Сэндвич со стейком" width="140" height="105"
              loading="lazy">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Сэндвич со стейком</h3>
            </a>
            <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/3.jpg" alt="Сэндвич с курицей" width="140" height="105"
              loading="lazy">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Сэндвич с курицей</h3>
            </a>
            <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/4.jpg" alt="Итальянский сэндвич" width="140" height="105"
              loading="lazy">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Итальянский сэндвич</h3>
            </a>
            <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/5.jpg" alt="Сэндвич с фрикадельками" width="140"
              height="105" loading="lazy">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Сэндвич с фрикадельками</h3>
            </a>
            <span class="product-card__price">180 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/6.jpg" alt="Острый итальянский сэндвич" width="140"
              height="105" loading="lazy">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Острый итальянский сэндвич</h3>
            </a>
            <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/7.jpg" alt="Сэндвич с индейкой" width="140" height="105"
              loading="lazy">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Сэндвич с индейкой</h3>
            </a>
            <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/8.jpg" alt="Сэндвич с курицей и беконом" width="140"
              height="105" loading="lazy">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Сэндвич с курицей и беконом</h3>
            </a>
            <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/9.jpg" alt="Сэндвич с ветчиной" width="140" height="105"
              loading="lazy">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Сэндвич с ветчиной</h3>
            </a>
            <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix sandwich">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/1.jpg" alt="Сэндвич с тунцом" width="140" height="105"
              loading="lazy">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Сэндвич с тунцом</h3>
            </a>
            <span class="product-card__price">180 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>
    </ul>

    <button class="more-btn" type="button">Показать еще</button>

  </div>
</section>