<section class="hero section">
  <h1 class="sr-only">FoodFast - заказ еды с доставкой</h1>
  <div class="container">
    <div class="hero__inner" >

      <div class="hero__content" data-aos='fade-up' data-aos-delay="50" data-aos-duration="1000" data-aos-offset="200">
        <p class="hero__title">
          Доставка<span>за 15 минут</span>
        </p>
        <div class="hero__text">
          <p>Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт</p>
        </div>
        <button class="hero__btn btn" type="button">Заказать</button>
        <a class="hero__link" href="#">Подробнее</a>
      </div>

      <picture>
        <source type="image/webp" srcset="images/hero-bg.webp">
        <img class="hero__img" src="images/hero-bg.png" alt="hero" width="560" height="560" data-aos='fade-left' data-aos-delay="300" data-aos-duration="1000">
      </picture>

    </div>
  </div>
</section>