<section class="promo section">
  <div class="container">
    <h2 class="promo__title title">
      Акции и скидки
    </h2>

    <div class="swiper promo__slider">

      <div class="swiper-wrapper">

        <div class="swiper-slide promo__item" data-aos='fade-up'>
          <article class="rest-card">
            <a class="rest-card__image" href="#">
              <picture>
                <source type="image/webp" srcset="images/restaurant/1.webp">
                <img class="rest-card__img" src="images/restaurant/1.jpg" alt="ресторан №1" width="370" height="300"
                loading="lazy">
              </picture>
            </a>
            <a class="rest-card__title" href="#">
              <h3>Скидка 50% на вторую пиццу</h3>
            </a>
          </article>
        </div>

        <div class="swiper-slide promo__item" data-aos='fade-up' data-aos-delay='300'>
          <article class="rest-card">
            <a class="rest-card__image" href="#">
              <picture>
                <source type="image/webp" srcset="images/restaurant/5.webp">
                <img class="rest-card__img" src="images/restaurant/5.jpg" alt="ресторан №5" width="370" height="300"
                loading="lazy">
              </picture>
            </a>
            <a class="rest-card__title" href="#">
              <h3>Картошечка из KFC даром при заказе бургера</h3>
            </a>
          </article>
        </div>

        <div class="swiper-slide promo__item" data-aos='fade-up' data-aos-delay='600'>
          <article class="rest-card">
            <a class="rest-card__image" href="#">
              <picture>
                <source type="image/webp" srcset="images/restaurant/6.webp">
                <img class="rest-card__img" src="images/restaurant/6.jpg" alt="ресторан №6" width="370" height="300"
                loading="lazy">
              </picture>
            </a>
            <a class="rest-card__title" href="#">
              <h3>Чёрные бургеры на чёрный день </h3>
            </a>
          </article>
        </div>

      </div>

      <div class="swiper-pagination"></div>

    </div>

  </div>
</section>