<section class="restaurants section">
  <div class="container">
    <h2 class="restaurants__title title">
      Лучшие рестораны
    </h2>

    <div class="swiper restaurants__slider">

      <div class="swiper-wrapper">

        <div class="swiper-slide restaurants__item" data-aos='fade-up'>
          <article class="rest-card">
            <a class="rest-card__image" href="#">
              <picture>
                <source type="image/webp" srcset="images/restaurant/1.webp">
                <img class="rest-card__img" src="images/restaurant/1.jpg" alt="ресторан №1" width="370" height="300"
                  loading="lazy">
              </picture>
            </a>
            <a class="rest-card__title" href="#">
              <h3>Blaze Pizza</h3>
            </a>
            <div class="rest-card__bottom">
              <span class="rest-card__time"><time>13:00</time> - <time>22:00</time></span>
              <a class="rest-card__link" href="#">
                <span class="sr-only">Перейти к ресторану Blaze Pizza</span>
              </a>
            </div>
          </article>
        </div>
        
        <div class="swiper-slide restaurants__item" data-aos='fade-up' data-aos-delay='300'>
          <article class="rest-card">
            <a class="rest-card__image" href="#">
              <picture>
                <source type="image/webp" srcset="images/restaurant/2.webp">
                <img class="rest-card__img" src="images/restaurant/2.jpg" alt="ресторан №2" width="370" height="300"
                  loading="lazy">
              </picture>
            </a>
            <a class="rest-card__title" href="#">
              <h3>Pizza Runcho</h3>
            </a>
            <div class="rest-card__bottom">
              <span class="rest-card__time"><time>12:00</time> - <time>21:00</time></span>
              <a class="rest-card__link" href="#">
                <span class="sr-only">Перейти к ресторану Pizza Runcho</span>
              </a>
            </div>
          </article>
        </div>

        <div class="swiper-slide restaurants__item" data-aos='fade-up' data-aos-delay='600'>
          <article class="rest-card">
            <a class="rest-card__image" href="#">
              <picture>
                <source type="image/webp" srcset="images/restaurant/3.webp">
                <img class="rest-card__img" src="images/restaurant/3.jpg" alt="ресторан №3" width="370" height="300"
                  loading="lazy">
              </picture>
            </a>
            <a class="rest-card__title" href="#">
              <h3>Pizza Hut</h3>
            </a>
            <div class="rest-card__bottom">
              <span class="rest-card__time"><time>11:00</time> - <time>22:00</time></span>
              <a class="rest-card__link" href="#">
                <span class="sr-only">Перейти к ресторану Pizza Hut</span>
              </a>
            </div>
          </article>
        </div>

        <div class="swiper-slide restaurants__item" data-aos='fade-up' data-aos-delay='300'>
          <article class="rest-card">
            <a class="rest-card__image" href="#">
              <picture>
                <source type="image/webp" srcset="images/restaurant/4.webp">
                <img class="rest-card__img" src="images/restaurant/4.jpg" alt="ресторан №4" width="370" height="300"
                  loading="lazy">
              </picture>
            </a>
            <a class="rest-card__title" href="#">
              <h3>McDonald`s</h3>
            </a>
            <div class="rest-card__bottom">
              <span class="rest-card__time"><time>06:00</time> - <time>23:00</time></span>
              <a class="rest-card__link" href="#">
                <span class="sr-only">Перейти к ресторану McDonald`s</span>
              </a>
            </div>
          </article>
        </div>

        <div class="swiper-slide restaurants__item" data-aos='fade-up' data-aos-delay='600'>
          <article class="rest-card">
            <a class="rest-card__image" href="#">
              <picture>
                <source type="image/webp" srcset="images/restaurant/5.webp">
                <img class="rest-card__img" src="images/restaurant/5.jpg" alt="ресторан №5" width="370" height="300"
                  loading="lazy">
              </picture>
            </a>
            <a class="rest-card__title" href="#">
              <h3>KFC</h3>
            </a>
            <div class="rest-card__bottom">
              <span class="rest-card__time"><time>06:00</time> - <time>23:30</time></span>
              <a class="rest-card__link" href="#">
                <span class="sr-only">Перейти к ресторану KFC</span>
              </a>
            </div>
          </article>
        </div>

        <div class="swiper-slide restaurants__item" data-aos='fade-up' data-aos-delay='900'>
          <article class="rest-card">
            <a class="rest-card__image" href="#">
              <picture>
                <source type="image/webp" srcset="images/restaurant/6.webp">
                <img class="rest-card__img" src="images/restaurant/6.jpg" alt="ресторан №6" width="370" height="300"
                  loading="lazy">
              </picture>
            </a>
            <a class="rest-card__title" href="#">
              <h3>Star Burgers</h3>
            </a>
            <div class="rest-card__bottom">
              <span class="rest-card__time"><time>09:00</time> - <time>21:00</time></span>
              <a class="rest-card__link" href="#">
                <span class="sr-only">Перейти к ресторану Star Burger</span>
              </a>
            </div>
          </article>
        </div>

      </div>

      <div class="swiper-pagination"></div>

    </div>

  </div>
</section>